* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;700&display=swap');

:root {
    --fontPoppin: 'Poppins', sans-serif;
    --fontRoboto: 'Roboto', sans-serif;
    --headerColor: rgba(10, 10, 110, 0.753);
    --fontColor: rgb(113, 113, 214);
}

body {
    color: var(--fontColor);
    font-family: var(--fontPoppin);
}

h1, h2, h3, h4 {
    color: var(--headerColor);
}